
body {
  xfont-size:14pt;
}

.container-fluid
{
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.link:hover {
    text-decoration: underline;
  }

.imgList {
  margin:10px;
}